# Node modules
node_modules/

# Android build artifacts
android/app/build/
android/build/
android/.gradle/
android/.cxx/
*.iml
.idea/

# iOS build artifacts
ios/build/
ios/Pods/
*.xcworkspace

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local properties
android/local.properties
